<section class="welcome">
    <div class="logo-slide">
      <div>
        <img class="homepage-logo" src="/assets/logo-1.png", width="200">
      </div>
      <div>
        <img class="homepage-logo" src="/assets/logo-3.png", width="200">
      </div>
      <div>
        <img class="homepage-logo" src="/assets/logo-4.png", width="200">
      </div>
    </div>
  <h1>Shoe Selector</h1>
  <button id="facebook" onclick="location.href='/users/auth/facebook'">Sign in with Facebook</button>
  <div class="curve-top"></div>
</section>
<section class="info-slider">
  <img class="drop" src="/assets/down_icon.png" width="60">
  <div class="swipe">
    <div>
      <h3>Access the latest trainers at a swipe of a finger</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
    <div>
      <h3>Create a Wishlist of your favourites</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
    <div>
      <h3>Share your Wishlist with friends on Facebook</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
  </div>
</section>
<footer>
  <div class="curve-bottom"></div>
  <ul class="dev-info">
    <li><h4>Copyright &copy; 2015 WDI Rane☂ - Rane Gowan</h4></li>
    <li><a href="/#">About</a>
    <li><a href="/#">Contact</a>
  </ul>
</footer>
