<section class="welcome">
    <div class="logo-slide">
      <div>
        <img class="homepage-logo" src="/assets/logo-1.png", width="200">
      </div>
<!--       <div>
        <img class="homepage-logo" src="/assets/logo-2.png", width="200">
      </div>
      <div>
        <img class="homepage-logo" src="/assets/logo-3.png", width="200">
      </div>
      <div>
        <img class="homepage-logo" src="/assets/logo-4.png", width="200">
      </div> -->
  <h1>Sole Selector</h1>
  <button id="facebook" onclick="location.href='/users/auth/facebook'">Sign in with Facebook</button>
  <div class="curve-top"></div>
</section>
<section class="info-slider">
  <img class="drop" src="/assets/down_icon.png" width="80">
  <div class="swipe">
    <div>
      <h3>Access the latest trainers at a swipe of a finger</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
    <div>
      <h3>Create a Wishlist of your favourites</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
    <div>
      <h3>Make your purchase easily by using the buy now button and share your purchase with your friends on facebook!</h3>
      <img src="/assets/iphone_template.png", width="400">
    </div>
  </div>
</section>
<footer>
  <div class="curve-bottom"></div>
  <h4>Copyright &copy; 2015 WDI Rane☂ - Rane Gowan</h4>
</footer>
