<div class="container" style="min-height:340px">
  <div id="tinderslide" >
    <ul>
      <% _.each(products, function(product){ %>
        <li class="panel_<%= product.id %>" data-id="<%= product.id %>">
          <div class="img">
            <img src="<%= product.image_url_thumb %>">
            <div class="like">
                <label><%= product.likes %></label>
            </div>
            <div class="dislike">
                <label><%= product.dislikes %></label>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
</div>

<!-- jTinder trigger by buttons  -->
<div class="actions">
<img src="/assets/cross.png", width="80", class="dislike">
<img src="/assets/tick.png", width="80", class="like">
</div>
