section.welcome {
  position: relative;

  .curve-top {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 1.5em;
    border-radius: 100% 100% 0 0;
    background: #fff;
    overflow: hidden;
    background: #f5f5f5;
  }
}

footer {
  background: #222;
  height: 100px;

  .curve-bottom {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 1.5em;
    border-radius: 0 0 100% 100%;
    background: #fff;
    overflow: hidden;
  }
}

@media (max-width: 559px) {
  section.welcome {
    margin: 0 auto;
    background: #222;
    height: 480px;
  }
}


section.info-slider {
  margin: 0 auto;
  height: 625px;
  margin-bottom: -50px;
  margin-top: -10px;
  background: #f5f5f5;
}

section.info-slider img{
  margin: 0 auto;
}

section.welcome h1 {
  color: #fff;
  font-size: 50px;
  padding: 15px 0;
  margin-top: -50px;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); 
  -o-transform: rotate(180deg);
  // -moz-transition: all 1s ease;
  // -webkit-transition: all 1s ease;
  // -o-transition: all 1s ease;
  // transition: all 1s ease;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
}

footer {
  background: #222;
  height: 100px;

  div.curve-bottom {
    position: relative;
    top: 0;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 1.5em;
    border-radius: 0 0 100% 100%;
    background: #fff;
    overflow: hidden;
    background: #f5f5f5;
  }
}

div button.slick-prev {
  display: none;
}