section.welcome {
  position: relative;
  margin: 0 auto;
  background: #FF614D;
  height: 480px;

  h1 {
    color: #fff;
    font-size: 50px;
    padding: 15px 0;
    margin-top: -50px;
  }

  img.homepage-logo {
    margin: 0 auto;
  }

  .curve-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    border-radius: 600% 600% 0 0;
    background: #f5f5f5;
  }
}

section.info-slider {
  margin: 0 auto;
  height: 625px;
  margin-bottom: -50px;
  margin-top: -10px;
  background: #f5f5f5;

  img.drop {
    margin: 0 auto;
    width: 60px;
  }

  .swipe {
    div {
      img {
        width: 100%;
      }
    }
    
  }

  .drop {
    margin-top: 10px;
  }

  h3 {
    margin-top: 30px;
    color: #222;
  }
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); 
  -o-transform: rotate(180deg);
  // -moz-transition: all 1s ease;
  // -webkit-transition: all 1s ease;
  // -o-transition: all 1s ease;
  // transition: all 1s ease;
  outline: 1px solid transparent;
  // -webkit-backface-visibility: hidden;
}

footer {
  background: #FF614D;
  height: 100px;

  .curve-bottom {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    border-radius: 0 0 500% 500%;
    overflow: hidden;
    background: #f5f5f5;
  }  
  h4 {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }
  ul.dev-info li a {
    text-decoration: none;
    color: #f5f5f5;
  }
}

@media (min-width:768px) {
  .swipe {
    div {
      img {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
  section.welcome {
    height: 865px;

    h1 {
      color: #fff;
      font-size: 110px;
      padding: 15px 0;
      margin-top: -90px;
    }

    img.homepage-logo {
      margin: 0 auto;
      width: 350px;
    }

    section.info-slider {
      margin: 0 auto;
      height: 900px;
      margin-bottom: -50px;
      margin-top: -10px;
      background: #f5f5f5;

      img.drop {
        margin: 0 auto;
        width: 60px;
      }
    }
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  section.welcome {
    height: 400px;
  }
}