ul {
  padding: 0px;
}

ul.column#like {
  float: right;
  background: red;
  min-height: 310px;
  min-width: 300px;
}

ul.column#dislike {
  float:left;
  background: red;
  min-height: 310px;
  min-width: 300px;
}

ul.column.ui-sortable {
  padding: 0px;
}

div.selection ul {
  display: inline-block;
}

li {
  list-style-type: none;
}

div.selection ul li img {
  margin-right: -240px;
  margin-left: -240px;
  text-align: center;
  min-height: 310px;
  border: 2px solid #f5f5f5;
  border-radius: 30px;
}
