header nav ul li {
  display: inline;
}

header nav ul li.home {
  padding-top: 15px;
  padding-left: 15px;
  float: left;
}

header nav ul li.account {
  padding-top: 15px;
  float: right;
  padding-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #333;
}
 header nav ul {
  padding: 0px;
  margin: 0 auto;
 }