 body, h1, h2, p, div{
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  margin: 0 auto;
  text-align: center;
  color: #333;
  letter-spacing: -1.25px;
}

h2 {
  font-size: 35px;
  
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
}