 body, h1, h2, p, a{
  font-family: verdana, arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  margin: 0 auto;
  display: center;
  text-align: center;
  color: #333;
  letter-spacing: -1.25px;
}