h2 {
  padding: 20px;
}

ul.wish-container {
  fixed-height: 110px;
  margin: 0 auto;
  padding: 25px;
  background: #f5f5f5;
  border-radius: 20px;
  margin-bottom: 20px;
  img.wishlist-image {
    float: left;
    border: 2px solid darken(#f5f5f5, 5%);
    border-radius: 20px;
    max-width: 120px;

  li {
    margin-left: 100px;
    max-width: 100px;
    font-size: 1px;
  }

  }

  button {
    margin-top: 5px;
    background-color: #025D8C;
    border: none;
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid darken(#025D8C, 10%);
    min-width: 85px;
  }

  a.buy-now {
    float: left;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.5px;
  }
}

img.remove-wish {
  margin-top: 10px;
  padding: 5px;
}