<!DOCTYPE html>
<html>
<head>
  <title>ShoeSelector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><a href="/#">Home</a></li>
      <li><a href="/#products">Shoes</a></li>
      <li><a href="/#wishes">Wishlist</a></li>
    </ul>
  </header>
  <%= yield %>
  <footer>Copyright &copy; 2015 WDI Project3 Rane☂ - Rane Gowan</footer>
</body>
</html>
