<!DOCTYPE html>
<html>
<head>
  <title>Sole Selector™</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <a href="javascript:void(0)" class="mobile-logo">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
      </a>
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li class="nav-link"><a href="/#">Home</a></li>
          <li class="nav-link"><a href="/#products">Shoes</a></li>
          <li class="nav-link"><a href="/#wishes">Wishlist</a></li>
          <li class="nav-link logo">
            <% if current_user %>

            <% else %>
              <img src="http://www.sportszoneelite.com/media/catalog/product/cache/1/image/940x738/9df78eab33525d08d6e5fb8d27136e95/3/1/31162728-NIKE_AIRMAX_90_TD_-00_2.png">
            <% end %>
          </li>
          <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
          <li class="nav-link more"><a href="javascript:void(0)">More</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
              <li class="more"><a href="javascript:void(0)">Item with submenu</a>
                <ul class="submenu">
                  <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                  <li><a href="javascript:void(0)">Another Item</a></li>
                </ul>
              </li>
              <li class="more"><a href="javascript:void(0)">Another submenu</a>
                <ul class="submenu">
                  <li><a href="javascript:void(0)">Sub-submenu</a></li>
                  <li><a href="javascript:void(0)">An Item</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <%= yield %>
</body>
</html>
